<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <div class="text-danger h4">
      <% resource.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>
<% end %>
