<p style="color: green"><%= notice %></p>

<h1 class='d-flex justify-content-center'>Subjects</h1>

<% if @subjects.count != 0 %>
<h2 class='d-flex justify-content-center'>
    <%= link_to "+ Add a new subject", new_subject_path, class: 'btn btn-success' %>
</h2>
<% end%>
<div id="subjects">
  <% if @subjects.count == 0 %>
  <h2 class='justify-content-center'>
    There are no subjects yet for this class
    <% if current_user.has_elevated_privileges? %>
       but you can <%= link_to "create new subject here", new_subject_path %>
    <% end %>
    .
  </h2>
  <% else %>
  
  <div class="container-fluid">
    <div class="flex-nowrap">
      <% @subjects.each do |subject| %>
      <div class='mt-5'>
        <%= render subject %>        
      </div>
      <% end %>
    </div>
  </div>
<% end %>
