<div id="<%= dom_id @subject %>">
  <div class="container-fluid">
    <div class="flex-nowrap">
      <h2 class='d-flex justify-content-center'>Create a new subject</h2>
      <%= render "form", subject: @subject %>
    </div>
  </div>
</div>
