<div id="<%= dom_id i_class %>">
  <p>
    <strong>Name:</strong>
    <%= i_class.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= i_class.year %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= i_class.institution_id %>
  </p>

</div>
