<div id="<%= dom_id @i_class %>">
  <div class="container-fluid">
    <div class="flex-nowrap">
      <h2 class='d-flex justify-content-center'>Editing "<%= @i_class.name %>"</h2>
      <%= render "form", klass: @i_class %>
    </div>
  </div>
</div>
</div>
