<p style="color: green"><%= notice %></p>

<h1>I classes</h1>

<div id="i_classes">
  <% @i_classes.each do |i_class| %>
    <%= render i_class %>
    <p>
      <%= link_to "Show this institution class", class_path(id: i_class.id, institution_id: i_class.institution.id) %>
    </p>
  <% end %>
</div>
