<h1>Institution classes</h1>

<div id="i_classes">
  <% @i_classes.each do |i_class| %>
    <%= render i_class %>
    <p>
      <%= link_to "Show this institution class", class_path(class_name: i_class.name, institution_name: i_class.institution.name) %>
    </p>
  <% end %>
</div>
