<div id="<%= dom_id @i_class %>">
  <div class="container-fluid">
    <div class="flex-nowrap">
      <h1> Create new class </h1>

      <%= render "form", klass: @i_class, institution: institution %>
    </div>
  </div>
</div>
