/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= stub "active_admin"
 *= require_self
 */

@import "bootstrap";

// Make Trix textarea content ... after overflowing
.trix-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-card {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    cursor: pointer;
}

$gradient-right: linear-gradient(to right, rgb(85, 88, 218) 20%, rgb(95, 209, 249) 200%);
$gradient-down: linear-gradient(rgb(85, 88, 218) 0%, rgb(95, 209, 249) 200%);


.bg-navigation {
    background: $gradient-right;
}

.sidebar-partial {
    background: $gradient-down;
}

.partial-link {
    font-size: 20px;
    text-decoration: none;
    color: white;

    &:hover {
        color:  rgb(95, 209, 249);        
    }
    
    &--btn {
        @extend .partial-link;
        border: none;
        background: transparent;
        padding-left: 0 !important;
    }
}

.sidebar-partial-link {
    @extend .partial-link;
}
