<div id="<%= dom_id @report %>">
  <div class="container-fluid">
    <div class="flex-nowrap">
      <h2 class='text-center'>
        Request a new report

        <p>
          <%= link_to "Back to reports", reports_path, class: 'btn btn-primary' %>
        </p>
      </h2>
      <%= render "form", report: @report %>
    </div>
  </div>
</div>
