<%= render @report %>

<div>
  <%= link_to "Edit this report", edit_report_path(@report, institution_name: institution.name) %> |
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete %>
</div>
